@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f7f4ef;
    color:#3d3d3d;
    line-height:1.8;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:60px 30px;
}

header{
    margin-bottom:40px;
}

header h1{
    font-size:58px;
    font-weight:600;
    letter-spacing:3px;
    color:#2f2f2f;
}

header p{
    color:#8a8378;
    font-size:18px;
}

nav{
    margin:40px 0;
    border-bottom:1px solid #ddd4c8;
    padding-bottom:15px;
}

nav button{
    border:none;
    background:none;
    font-size:16px;
    color:#7a7267;
    margin-right:30px;
    cursor:pointer;
    transition:0.3s;
    font-family:'Poppins',sans-serif;
}

nav button:hover{
    color:#8f6b4f;
}

.page{
    display:none;
}

.active{
    display:block;
}

.profile{
    display:flex;
    gap:50px;
    align-items:center;
    background:#fcfaf7;
    border:1px solid #ece6dd;
    border-radius:24px;
    padding:40px;
}

.photo{
    width:300px;
    height:300px;
    border-radius:50%;
    overflow:hidden;
    flex-shrink:0;
    border:6px solid #ece6dd;
}

.photo img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.intro{
    flex:1;
}

.intro h2{
    margin-bottom:20px;
}

.intro p{
    margin-bottom:18px;
    font-size:17px;
}

h2{
    margin-bottom:25px;
    color:#2f2f2f;
    letter-spacing:1px;
}

.card{
    background:#fcfaf7;
    border:1px solid #ece6dd;
    border-radius:20px;
    padding:25px;
    margin-bottom:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#6e5742;
    margin-bottom:10px;
}

.insta-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:12px;
}

.insta-grid img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    border-radius:14px;
    transition:.3s;
    cursor:pointer;
}

.insta-grid img:hover{
    transform:scale(1.03);
}

.contact-box{
    background:#fcfaf7;
    border:1px solid #ece6dd;
    border-radius:20px;
    padding:25px;
    margin-bottom:20px;
}

.contact-box p{
    font-weight:600;
    color:#6e5742;
    margin-bottom:5px;
}

.contact-box span{
    color:#666;
}

@media(max-width:768px){

    .container{
        padding:20px;
    }

    header h1{
        font-size:38px;
    }

    .profile{
        flex-direction:column;
        text-align:center;
    }

    .photo{
        width:220px;
        height:220px;
    }

    .insta-grid{
        grid-template-columns:repeat(2,1fr);
    }

    nav{
        display:flex;
        flex-wrap:wrap;
        gap:10px;
    }

    nav button{
        margin-right:0;
    }
}